<div id="github">
  <h3>GitHub</h3>
  <p>
    For this lesson you will need a GitHub account and GitHub Desktop installed on your machine.
  </p>
  <p><strong>To sign up for a GitHub account:</strong></p>
  <ol>
  <li>Go to <a href='https://github.com/signup' target='_blank'>https://github.com/signup</a> 
     and enter your email address (preferably your @si.edu or @cfa.harvard.edu address), 
     choose a secure password, and then choose a username.</li>
  <li>Complete the "puzzle" to prove you are not a robot, click Create Account, and then
     confirm your email address with the code provided.
  </li>
  </ol>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="siwindows" href="#github-siwindows" aria-controls="SIWindows" role="tab" data-toggle="tab">SI-Issued Windows</a></li>
      <li role="presentation"><a data-os="simacos" href="#github-simacos" aria-controls="SIMacOS" role="tab" data-toggle="tab">SI-Issued Mac</a></li>
      <li role="presentation"><a data-os="windows" href="#github-windows" aria-controls="Windows" role="tab" data-toggle="tab">Non-SI Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#github-macos" aria-controls="MacOS" role="tab" data-toggle="tab">Non-SI MacOS</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="github-siwindows">
        <ol>
          <li>Open Software Center, click on GitHub Desktop, and then click Install.</li>
          <li>Check the Desktop for a GitHub Desktop icon. If it is not there, you may need 
            to restart your computer.
          </li>
          <li>Open GitHub Desktop, click on File > Options, and then click the Sign In button
             on the Accounts tab. This will direct you to a browser, where you will sign in to the 
             account you created previously.
          </li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="github-simacos">
        <ol>
          <li>Open the Self Service app, click on the Scientific category, and then click Install
             under the GitHub Desktop icon.</li>
          <li>Check the Desktop for a GitHub Desktop icon. If it is not there, you may need 
            to restart your computer.
          </li>
          <li>Open GitHub Desktop, in the top menu click on GitHub Desktop > Preferences, and then click the Sign In button
             on the Accounts tab. This will direct you to a browser, where you will sign in to the 
             account you created previously.
          </li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="github-windows">
        <ol>
          <li>Go to <a href='https://desktop.github.com/' target='_blank'>https://desktop.github.com/</a>
           and click on the big Download for Windows button.</li>
          <li>Follow the prompts to install the software.</li>
          <li>Open GitHub Desktop, click on File > Options, and then click the Sign In button
            on the Accounts tab. This will direct you to a browser, where you will sign in to the 
            account you created previously.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="github-macos">
        <ol>
          <li>Go to <a href='https://desktop.github.com/' target='_blank'>https://desktop.github.com/</a>
            and click on the big Download for macOS button.</li>
          <li>Follow the prompts to install the software.</li>
          <li>Open GitHub Desktop, in the top menu click on GitHub Desktop > Preferences, and then click the Sign In button
             on the Accounts tab. This will direct you to a browser, where you will sign in to the 
             account you created previously.
          </li>
        </ol>
      </article>
    </div>
  </div>
</div>
          Git should be installed on your computer as part of your Bash
          install (see the
          <a href="#shell">Shell installation instructions</a>).
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
        <p>
          <strong>For macOS</strong>, install Git for Mac
          by downloading and running the most recent "mavericks" installer from
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">this list</a>.
          Because this installer is not signed by the developer, you may have to
          right click (control click) on the .pkg file, click Open, and click
          Open on the pop up window.
          After installing Git, there will not be anything in your <code>/Applications</code> folder,
          as Git is a command line program.
          <strong>For older versions of OS X (10.5-10.8)</strong> use the
          most recent available installer labelled "snow-leopard"
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">available here</a>.
        </p>
        <h4>Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
          <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          If Git is not already available on your machine you can try to
          install it via your distro's package manager. For Debian/Ubuntu run
          <code>sudo apt-get install git</code> and for Fedora run
          <code>sudo dnf install git</code>.
        </p>
      </article>
    </div>
  </div>
</div>
